<!DOCTYPE html>
<html>
<head>
    <title>Фишинг симулятор</title>
</head>
<body>

<h2>📩 Жаңа хабарлама</h2>

<button onclick="loadMessage()">Жаңа хабарлама алу</button>

<hr>

<p><b>Сервис:</b> <span id="service"></span></p>
<p><b>Email:</b> <span id="email"></span></p>
<p><b>Тақырып:</b> <span id="title"></span></p>
<p><b>Мәтін:</b> <span id="text"></span></p>
<p><b>Сілтеме:</b> <span id="link"></span></p>
<p><b>Уақыт:</b> <span id="time"></span></p>
<p><b>Күні:</b> <span id="date"></span></p>
<div id="buttons"></div>
<p id="result"></p>

<script>
async function loadMessage() {
    let res = await fetch("/get-message");
    let data = await res.json();

    document.getElementById("text").innerText = data.text;

    renderButtons(data.actions, data.correct);
}

window.onload = loadMessage;
function renderButtons(actions, correct) {
    let container = document.getElementById("buttons");
    container.innerHTML = "";

    actions.forEach(action => {
        let btn = document.createElement("button");
        btn.innerText = action;

        btn.onclick = () => {
            if (action === correct) {
                document.getElementById("result").innerText = "✅ Дұрыс!";
            } else {
                document.getElementById("result").innerText = "❌ Қате!";
            }
        };

        container.appendChild(btn);
    });
}
</script>

</body>
</html>
